SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB6ZHlqZWF2dmd1b25qcHluaW5rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTQ0NjYyNywiZXhwIjoyMDk1MDIyNjI3fQ.VYTsE6G8cLDO2E7nPkeMaaE-D2tsu5Gc0JaYRFCmHXY

SUPABASE_URL=https://pzdyjeavvguonjpynink.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_D6gcZm6M8Jf9XIaLzT79SA_qgvFL9Dw
SUPABASE_SECRET_KEY=sb_secret_hIclqrFB8obUSlO670wsdw_ex5vFB0b
